@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  color: whitesmoke;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(
    to left,
    #292e49,
    #536976
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.glassEffect {
  width: 60% !important;
  margin-left: 20% !important;
  margin-right: 20% !important;
  background: rgba(0, 0, 0, 0.2) !important;
  /* backdrop-filter: saturate(180%) blur(10px) !important; */
}

ul p {
  display: inline !important;
}

