* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #fff;
  background-color: rgb(37, 37, 37);

}

body {
  margin: 0;
  background-color: rgb(39, 35, 35);
}

main {
  margin-top: 6rem;
}